.mainButton{
  display: block;
  padding: 15px 30px;
  color: #fff;
  border: inherit;
  border-radius: 100px;
  font-size: 15pt;
  cursor: pointer;
  transition: all 0.3s linear;
}
.mainButton:hover{
  filter: brightness(80%);
}