#main{
  position: relative;
  max-width: 1455px;
  margin: 0 auto;
  padding-top: 88px;
}
.centerButton{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mTopContainer{
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  flex: lect;
}

.mTopContainer .topBox .thumInner{
  width: 100%;
  height: 400px;
  background-color: #D1D8BE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumInner.num1{
  background-image: url("/image/banner/mainBanner01.png");
}
.thumInner.num2{
  background-image: url("/image/banner/mainBanner02.png");
}
.mainInner{
  display: block;
  width: 100%;
  height: auto;
}
.mainInner .innerContainer{
  width: 100%;
  margin-bottom: 30px;
}

.mainInner .innerContainer h2{
  font-size: 25pt;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

.mainInner .innerContainer .innerBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-bottom: 30px;
  gap: 20px;
  flex-wrap: wrap; 
  padding: 0 15px;
}

.innerContainer.product .productBox{
  position: relative;
  width: calc(25% - 15px); 
  height: auto;
  /* min-width: 300px; */
  border: 1px solid #999;
  padding: 50px 15px;
  margin-bottom: 17px;
}
.innerContainer.product .productBox:hover{
  border: 1px solid #EEEFE0;
  background: #EEEFE0;
  transition: 0.5s ;
}
.innerContainer .productBox .afterDisc{
  display: block;
  /* width: 20px;
  height: 8px; */
  left: 10px;
  top: 10px;
  position: absolute;
  padding:5px 10px;
  background-color: #819A91;
  border-radius: 30px;
  color: #fff;
}
.innerContainer .productBox .productImg{
  display: block;
  width: 80%;
  height: auto;
  margin:0 auto 20px;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: #FFFFFF;
  border-radius: 20px;
  
}
.innerContainer .productBox .productNm {
  /* text-align: center; */
  font-weight: bold;
  margin-bottom: 5px;
}
.innerContainer .productBox .productRt{
  margin-bottom: 5px;
  color: #819A91;
}
.innerContainer .productBox .productPrice .originalPrice{
  text-decoration: line-through;
  margin-left: 5px;
  font-style: italic;
  color: #999;
}

.innerContainer.advertise {
  width: 100%;
  height: 300px;
  
}
.innerContainer.advertise .addInner{
  width: 100%;
  height: 300px;
  /* background-color: #B72B1F; */
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.innerContainer.advertise.ad01 .addInner{
  background-color: #B72B1F;
  background-image: url("/image/advertise01.png");
  
}

.innerContainer.advertise.ad02 .addInner{
  background-color: #204534;
  background-image: url("/image/advertise02.png");
}

.innerContainer.advertise.ad01 .addInner .centerButton{
  position: absolute;
  bottom: 15px;
}
.innerContainer.advertise.ad02 .adContent{
  color: #FFFFFF;
  padding: 20px;
}

.innerContainer.holiGift .holiGiftBox{
  position: relative;
  width: 32%;
  height: auto;
  min-width: 300px;
  border: 1px solid #999;
  padding: 50px 15px;
}

.innerContainer.holiGift .holiGiftBox .holiGiftImg{
  display: block;
  width: 80%;
  margin: 0 auto 10px;
}

.holiGift .holiGiftBox .holiGiftName{
  font-weight: bold;
  margin-bottom: 10px;
}

.holiGift .holiGiftBox .holiGiftExpl{
 margin-bottom: 35px;
}

.innerContainer.productBox{
  display: flex;
}
.innerContainer.productBox .pbcCont{
  width: 50%;
  min-width: 550px;
  display: block;
}

.innerContainer.productBox .pdcInnerBox{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #eee;
  padding: 20px;
  margin: 10px;
  flex: 1;
}
.innerContainer.productBox .pdcInner1 .pdcImg{
  width: 250px;
  height: auto;
}
.innerContainer.productBox .pdcInner2 .pdcImg{
  width: 180px;
  height: auto;
}
.innerContainer.productBox .pdcInnerBox .pdcName{
  /* margin-bottom: 0px; */
  font-size: 25pt;
  font-weight: 500;
  /* color: #819A91; */
}
.innerContainer.productBox .pbcCont .pdcInner1 .pdcInnerBox{
  display :flex;
  flex-direction: row;
}
.innerContainer.productBox .pdcInner1 .pdc1conBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerContainer.productBox .pdcInner1 .pdc1conBox .pdcName{
  display: block;
  margin-bottom: 15px;
}
.innerContainer.productBox .pbcCont .pdcInner2{
  display: flex;
  flex-direction: row;
}
.innerContainer.productBox .pdcInner2 .pdcName{
  margin-bottom: 10px;
}
.innerContainer.productBox .pdcInner2 .pdcImg{
  margin-bottom: 15px;
}

.innerContainer.review .reviewBox{ 
  width: 32%;
  padding: 30px;
  background-color: #EEEFE0;
  border-radius: 10px;
  border: 1px solid #999;
}

.innerContainer.teaList .teaConLeft, 
.innerContainer.teaList .teaConRight{
  flex: 1;
}
.innerContainer.teaList h3{
  font-size: 35pt;
  font-weight: bold;
}
.innerContainer.teaList h3 span{
  font-style: italic;
  color: #819A91;
}

.innerContainer.teaList  .teaConBox{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #999;
  padding: 10px 0;
}
.innerContainer.teaList  .teaListCon{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight :500
}
.innerContainer.teaList  .teaListCon .teaListImg{
  width: 80px;
  aspect-ratio: 1 / 1;
  margin-right: 20px;
}
.innerContainer.teaList  .teaListCon .teaListNm{
  flex: 1;
  text-align: left;
}
.innerContainer.teaList  .teaOpenBtn{
  width: 100%;
  background: none;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}
.innerContainer.teaList  .teaConBox .teaDescript {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.innerContainer.teaList .teaConBox.on .teaDescript {
  max-height: 200px;
  opacity: 1;
}
.innerContainer.teaList .teaConBox .teaBtnArrow{
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.innerContainer.teaList .teaConBox.on .teaBtnArrow{
  transform: rotate(-180deg);
  
}

.innerContainer.teaList .teaDescriptBtn{
  display: block;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 10px;
}